vignettes/*
inst/website
*Rproj*
*.Rhistory*
^plant.Rcheck$
.Rproj.user
*.png
*.pdf 
*.xlsx
gprof2dot.py

*~

inst*
*.cppx
*.hx
*.hppx
*.tppx
*.cux
*.cuhx

*.gch
*.o
*.so
*.cu_o
exec_*

*.txt
*.out
*.test
*.exec

*.swp
*.swo
*.swn

tags
1
