.vscode
inst/website
pspm_output_*
*Rproj*
*.Rhistory*
^plant.Rcheck$
.Rproj.user
*.png
*.pdf 
*.xlsx
*.csv
gprof2dot.py

*~
.~lock*


*.cppx
*.hx
*.hppx
*.tppx
*.cux
*.cuhx

*.gch
*.o
*.so
*.cu_o
*.dll
exec_*

*.txt
*.out
*.test
*.exec

*.swp
*.swo
*.swn

tags
1

pspm_output/*
pspm_output*
.DS_Store
docs
.Rbuildignore

venv/
env/
lib/

py_plantFATE.egg-info/
